body {
    background-color: lightskyblue;
}

.title {
     text-align: center;
     color: black;
    }

#game {
      text-align: center;
      margin: 30px;
      padding: 10 px;
    }



  .btn {
    line-height: 30px;
    width: 150px;
    color: white;
    background-color: rgb(72, 82, 104);
    cursor: pointer;
    text-align: center;
  } 
  .container  {
    columns: blue;
    background-color: lightgrey;
    border: 1px solid ;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
  }
  #uc {
    color: blue;
  }
  #cc {
    color: red;
  }
  #winner {
    color: green;
  }
  #userScore {
    color: blue;
  }

  #computerScore {
    color: red
  }
  .reset{
    text-align: center;
  }
  #restart{
     line-height: 30px;
     width: 150px;
     color:blue ;
     background-color: lightslategray;
     
  }

  #help {
    width: 150px;
    line-height: 30px;
    color:blue;
    background-color:yellowgreen;
    cursor: pointer;
} 
  
  